#container {
    border: 7px solid blue;
    height: 650px;
    width: 650px;
    display: grid;
    margin-top:40px;
    margin-left: 80px;
    margin-bottom: 40px;
}   


.gridDiv {
    border: 1px solid rgb(112, 112, 112);
    box-sizing: border-box;
}

.fader {
    transition: 50s;
}

#clearButton {
    background-color: #8da4ce; /* Green */
    border: none;
    color: rgb(56, 10, 8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
  }

  #buttonAndSlider {
      display: flex;
      border: 6px solid black;
      width: 650px;
      margin-top: 60px;
      margin-left: 80px;
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: space-evenly;
  }
  
  .sliderContainer {
      border: 1px solid black;
  }